[Unit]
Description=A server for streaming Motion-JPEG from a video capture device
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/usr/local/bin/mjpg_streamer -i 'input_raspicam.so --fps 30' -o 'output_http.so -w /usr/local/share/mjpg-streamer/www'

[Install]
WantedBy=multi-user.target
